<ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
  <li class="dropdown-menu-header">
    <div class="dropdown-header d-flex">
      <h4 class="notification-title mb-0 mr-auto">My Cart</h4>
      <div class="badge badge-pill badge-light-primary"><%= @cart_items.length %> Items</div>
    </div>
  </li>
  <li class="scrollable-container media-list">
    <% @cart_items.each do |cart_item| %>
      <%= render "cart_items/my_cart_item", cart_item: cart_item %>
    <% end %>
  </li>
  <li class="dropdown-menu-footer">
    <div class="d-flex justify-content-between mb-1">
      <h6 class="font-weight-bolder mb-0">Total:</h6>
      <h6 class="text-primary font-weight-bolder mb-0">$10,999.00</h6>
    </div>
    <a class="btn btn-primary btn-block" href="<%= cart_items_path %>">Cart item list</a>
  </li>
</ul>
